#videoBG {
    position: fixed;
    z-index: -1;
    background-position: top center; 
    background-size: cover;
}

.list-packs {
    min-height: 50px;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:100%;
        
    }
}
@media (max-width: 1024px) {
    #videoBG {
        display: none;
    }
    body {
        background-image: url('/img/landings/semanaSanta/bg-xc-mob.jpg');
        background-size: contain;
        width: 100%;
        height: 720px;
        top:-500px;
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .img-top{
        margin-bottom: -64px;

    }
    .list-packs {
        min-height: auto;
    }
}
